.left-col1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-page {
    height: 100vh;
    width: 100vw;
    background: lightgray;
    padding-top: 200px;
}
.login-card.card {
    box-shadow: 0 1px 8px grey;
}
.col.right-col2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.mb-3.inputName , .mb-3.inputPassword {
    width: 70%;
    margin: 2rem auto auto auto;
}
.display-image{
    height: 350px;
    width: 450px;
}
.logo-image{
    height: 85px;
    width: 65px;
}
.error-block {
    margin-bottom: 10px;
    color: red;
}

@media screen and (min-width:570px) and (max-width:991px){
    .login-page {
        height: 100vh;
        width: 100vw;
        background: lightgray;
        padding-top: 100px;
    }
}


@media screen and (min-width:200px) and (max-width:569px){
    .login-page{
    padding-top: 20px;
    }
    .display-image{
        height: 150px;
        width: 200px;
    }
}